.backgroundBox{
    background: #F2F4F7;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.componentBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.titleSelectedText{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0C6;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.titleNotSelected{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A9A9A9;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.numberTextComents{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    height: 46px;
    flex-shrink: 0;
    padding: 10px 20px 0px 20px;

}

.dividerBox{
    width: 100%;
    max-width: 770px;
    height: 38px;
    flex-shrink: 0;
    background-color: #FFFFFF;
    display:flex;
    flex-direction: row;
    border-radius: 8px 8px 0 0;
}

.dividerSelectedLine{
    flex: 1;
    height: 3px;
    background: #0C6;
}

.dividerNotSelectedLine{
    flex: 1;
    height: 1px;
    background: #E0E0E0;
}

.lineBox{
    width: 100%;
    max-width: 770px;
    height: 1px;
    display:flex;
    flex-direction: row;
}

.whiteBox{
    width: 100%;
    max-width: 770px;
    background: #FFF;
    margin-top: 12px;
    border-radius: 8px;
}

.comentBox{
    width: 100%;
    max-width: 770px;
    min-height: 200px;
    flex-shrink: 0;
    background: #FFF;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
}

.inputComment{
    color: #667085;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFFFFF;
    border: #FFFFFF;
    display: flex;
    width: 100%;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: 0px 20px 0px 20px;
    overflow-y: hidden;
    resize: none;
}

.inputComment:focus {
    outline: none;
}

.insertCommentLine{
    height: 1px;
    background: #E0E0E0;
    margin: 8px 0 0 0;
    width: calc(100% - 40px);
    margin-left: 20px;
}

.whiteButton{
    width: 96px;
    height: 32px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;

}

.greenButton{
    width: 96px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #0C6;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;

}

.buttonsContainers{
    gap: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 16px;
}


